<div class='controls'>
  <div class="query">
    {{text-field value=query placeholder=queryPlaceholder}}
  </div>
  
  <div class="buttons">    
    {{multilingual-uploader
      uploading=uploading
      done=languagesChanged
      uploadType="language"
      uploadUrl="/admin/multilingual/languages"
      class="languages-uploader"}}
    
    {{d-button 
      action="update"
      class="btn-primary"
      label=updateState
      disabled=updateLanguagesDisabled}}
  </div>
</div>

{{#if refreshing}}
  {{loading-spinner}}
{{else}}
  {{#if languages}}
    {{#if anyCustomLanguages}}
      {{admin-language-list type="custom"
                            languages=customLanguages
                            order=order
                            ascending=ascending
                            updatedLanguages=updatedLanguages
                            updateLanguages=(action "updateLanguages")}}
    {{/if}}
    {{admin-language-list type="base"
                          languages=baseLanguages
                          order=order
                          ascending=ascending
                          updatedLanguages=updatedLanguages
                          updateLanguages=(action "updateLanguages")}}
  {{else}}
    <p>{{i18n 'search.no_results'}}</p>
  {{/if}}
{{/if}}