<div class="controls">
  <div class="query">
    {{text-field value=query placeholder=queryPlaceholder}}

    <div class="custom-only">
      {{input type="checkbox" checked=customOnly}}
      <span>{{i18n "multilingual.languages.custom_only"}}</span>
    </div>
  </div>

  <div class="buttons">
    {{multilingual-uploader
      id="multilingual-languages-uploader"
      uploading=uploading
      uploadType="language"
      done=(action "languagesUploaded")}}

    {{d-button
      action="update"
      class="btn-primary"
      icon="save"
      label=updateState
      disabled=updateLanguagesDisabled}}
  </div>
</div>

{{#if refreshing}}
  {{loading-spinner}}
{{else}}
  {{#if anyLanguages}}
    {{admin-language-list
      type="custom"
      languages=filteredLanguages
      order=order
      ascending=ascending
      updatedLanguages=updatedLanguages
      updateLanguages=(action "updateLanguages")}}
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
{{/if}}
