<div class="controls">
  <div class="query">
    <TextField @value={{this.query}} @placeholder={{this.queryPlaceholder}}/>

    <div class="custom-only">
      <Input @type="checkbox" @checked={{this.customOnly}}/>
      <span>{{i18n "multilingual.languages.custom_only"}}</span>
    </div>
  </div>

  <div class="buttons">
    <MultilingualUploader
      @id="multilingual-languages-uploader"
      @uploading={{this.uploading}}
      @uploadType="language"
      @done=(action "languagesUploaded")/>

    <DButton
      @action=(action "update")
      @class="btn-primary"
      @icon="save"
      @label={{this.updateState}}
      @disabled={{this.updateLanguagesDisabled}}/>
  </div>
</div>

{{#if refreshing}}
  {{loading-spinner}}
{{else}}
  {{#if anyLanguages}}
    <AdminLanguageList
      @type="custom"
      @languages={{this.filteredLanguages}}
      @order={{this.order}}
      @ascending={{this.ascending}}
      @updatedLanguages={{this.updatedLanguages}}
      @updateLanguages=(action "updateLanguages")/>
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
{{/if}}
