<div class='admin-controls'>
  <nav>
    <ul class="nav nav-pills">
      {{nav-item route='adminMultilingualLanguages' label='multilingual.languages.title'}}
      
      <div class="admin-actions">        
        {{languages-uploader uploading=uploading done=(action "languagesChanged")}}
      </div>
    </ul>
  </nav>
</div>

<div class='languages controls'>
  {{text-field value=filter placeholder=filterHint}}
  
  <div class="right">    
    {{d-button action="update"
               class="btn-primary"
               label=updateState
               disabled=updateLanguagesDisabled}}
  </div>
</div>

{{#if refreshing}}
  {{loading-spinner}}
{{else}}
  {{#if languages}}
    <table class='table languages-list grid'>
      <thead>
        {{admin-directory-toggle field="code" i18nKey='multilingual.languages.code' order=order ascending=ascending}}
        {{admin-directory-toggle field="name" i18nKey='multilingual.languages.name' order=order ascending=ascending}}
        {{admin-directory-toggle field="content" i18nKey='multilingual.languages.content' order=order ascending=ascending}}
        {{admin-directory-toggle field="locale" i18nKey='multilingual.languages.locale' order=order ascending=ascending}}
        {{admin-directory-toggle field="custom" i18nKey='multilingual.languages.type' order=order ascending=ascending}}
        <th>Actions</th>
      </thead>
      <tbody>
        {{#each languages as |language|}}
          {{admin-language language=language
                           updatedLanguages=updatedLanguages
                           removed=(action "updateLanguages")}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n 'search.no_results'}}</p>
  {{/if}}
{{/if}}