<table class="table languages-list grid">
  <thead>
    {{table-header-toggle field="code" labelKey="multilingual.code" order=order asc=ascending automatic=true}}
    {{table-header-toggle field="name" labelKey="multilingual.languages.name" order=order asc=ascending automatic=true}}
    {{table-header-toggle field="nativeName" labelKey="multilingual.languages.native_name" order=order asc=ascending automatic=true}}
    {{table-header-toggle field="content_enabled" labelKey="multilingual.languages.content" order=order asc=ascending classNames=controlColumnClassNames toggleAll=allContentEnabled automatic=true}}
    {{table-header-toggle field="interface_enabled" labelKey="multilingual.languages.interface" order=order asc=ascending classNames=controlColumnClassNames toggleAll=allInterfaceEnabled automatic=true}}
    <th class="language-control">Actions</th>
  </thead>
  <tbody>
    {{#each languages as |language|}}
      {{admin-language
        language=language
        updatedLanguages=updatedLanguages
        removed=updateLanguages}}
    {{/each}}
  </tbody>
</table>
