<tr class="translation">
  <td class="locale">
    {{@translation.locale}}
  </td>

  <td class="types">
    {{@translation.file_type}}
  </td>

  <td class="actions">
    <DButton @action={{this.remove}}>
      {{#if this.removing}}
        {{loading-spinner size="small"}}
      {{else}}
        {{d-icon "xmark"}}
        {{i18n "multilingual.translations.remove"}}
      {{/if}}
    </DButton>
  </td>
</tr>