<td class="locale">
  {{this.language.locale}}
</td>

<td class="name">
  {{this.language.name}}
</td>

<td class="native-name">
  {{this.language.nativeName}}
</td>

<td class={{this.contentClass}}>
  {{#if this.contentDisabled}}
    {{#if this.language.content_tag_conflict}}
      {{#link-to route="tag.show" model=this.language.locale}}
        {{d-icon "warning"}}
        <span>{{i18n
            "multilingual.languages.content_tag_conflict"
            tagName=this.language.locale
          }}</span>
      {{/link-to}}
    {{else}}
      {{i18n "multilingual.languages.disabled"}}
    {{/if}}
  {{else}}
    {{input type="checkbox" checked=this.language.content_enabled}}
  {{/if}}
</td>

<td class={{this.interfaceClass}}>
  {{#if this.interfaceDisabled}}
    {{i18n "multilingual.languages.disabled"}}
  {{else}}
    {{#if this.language.interface_supported}}
      {{input
        type="checkbox"
        checked=this.language.interface_enabled
        disabled=this.interfaceToggleDisabled
      }}
    {{else}}
      <i>{{i18n "multilingual.languages.interface_not_supported"}}</i>
    {{/if}}
  {{/if}}
</td>

<td class={{this.actionsClass}}>
  {{#if this.actionsDisabled}}
    {{i18n "multilingual.languages.disabled"}}
  {{else}}
    {{#d-button action=(action "remove") disabled=this.removing}}
      {{#if this.removing}}
        {{loading-spinner size="small"}}
      {{else}}
        {{d-icon "times"}}
      {{/if}}
    {{/d-button}}
  {{/if}}
</td>