<td class="code">
  {{language.code}}
</td>

<td class='name'>
  {{language.name}}
</td>

<td class="content">
  {{input type="checkbox" checked=language.content_enabled}}
</td>

<td class="interface">
  {{#if language.interface_supported}}
    {{input type="checkbox" checked=language.interface_enabled disabled=interfaceToggleDisabled}}
  {{else}}
    <i>{{i18n 'multilingual.languages.interface_not_supported'}}</i>
  {{/if}}
</td>

<td class="actions">
  {{#if language.custom}}
    {{#d-button action="remove" disabled=removing}}
      {{#if removing}}
        {{loading-spinner size="small"}}
      {{else}}
        {{d-icon "times"}}
      {{/if}}
    {{/d-button}}
  {{/if}}
</td>