<div class="controls">
  <div class="buttons">
    {{multilingual-uploader
      id="multilingual-translations-uploader"
      uploading=this.uploading
      done=(action "refresh")
      uploadType="translation"
    }}
  </div>
</div>

{{#if this.refreshing}}
  {{loading-spinner}}
{{else}}
  {{#if this.translations}}
    <table class="table translations-list grid">
      <thead>
        {{legacy-table-header-toggle
          field="locale"
          labelKey="multilingual.locale"
          order=this.order
          asc=this.ascending
          automatic=true
        }}
        {{legacy-table-header-toggle
          field="file_type"
          labelKey="multilingual.translations.type"
          order=this.order
          asc=this.ascending
          automatic=true
        }}
        <th>Actions</th>
      </thead>
      <tbody>
        {{#each this.translations as |translation|}}
          <AdminTranslation
            @translation={{translation}}
            @removed={{action this.refresh}}
          />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n "search.no_results"}}</p>
  {{/if}}
{{/if}}