<table class="table languages-list grid">
  <thead>
    <TableHeaderToggle
      @field="locale"
      @labelKey="multilingual.locale"
      @order={{this.order}}
      @asc={{this.asc}}
      @automatic={{true}}
    />
    {{!-- <TableHeaderToggle
      @field="name"
      @labelKey="multilingual.languages.name"
      @order={{this.order}}
      @asc={{this.ascending}}
      @automatic={{true}}
    />
    <TableHeaderToggle
      @field="nativeName"
      @labelKey="multilingual.languages.native_name"
      @order={{this.order}}
      @asc={{this.ascending}}
      @automatic={{true}}
    />
    <TableHeaderToggle
      @field="content_enabled"
      @labelKey="multilingual.languages.content"
      @order={{this.order}}
      @asc={{this.ascending}}
      @classNames={{this.controlColumnClassNames}}
      @automatic={{true}}
    >
      <span class="toggle-all">
        (<span>{{i18n "multilingual.languages.toggle_all"}}</span><Input
          @type="checkbox"
          @checked={{this.allContentEnabled}}
          {{on "change" this.selectAllContentEnabled}}
        />)
      </span>
    </TableHeaderToggle>
    <TableHeaderToggle
      @field="interface_enabled"
      @labelKey="multilingual.languages.interface"
      @order={{this.order}}
      @asc={{this.ascending}}
      @classNames={{this.controlColumnClassNames}}
      @automatic={{true}}
    >
      <span class="toggle-all">
        (<span>{{i18n "multilingual.languages.toggle_all"}}</span><Input
          @type="checkbox"
          class="bulk-select"
          @checked={{this.allInterfaceEnabled}}
          {{on "change" this.selectAllInterfaceEnabled}}
        />)
      </span>
    </TableHeaderToggle> --}}
    <th class="language-control">Actions</th>
  </thead>
  <tbody>
    {{#each this.languages as |language|}}
      <AdminLanguage
        @language={{language}}
        @updatedLanguages={{this.updatedLanguages}}
        @removed={{this.updateLanguages}}
      />
    {{/each}}
  </tbody>
</table>