<td class="locale">
  {{translation.locale}}
</td>

<td class="types">
  {{translation.file_type}}
</td>

<td class="actions">
  {{#d-button click=(action "remove")}}
    {{#if removing}}
      {{loading-spinner size="small"}}
    {{else}}
      {{d-icon "times"}}
      {{i18n "multilingual.translations.remove"}}
    {{/if}}
  {{/d-button}}
</td>
