<td class="locale">
  {{language.locale}}
</td>

<td class="name">
  {{language.name}}
</td>

<td class="native-name">
  {{language.nativeName}}
</td>

<td class={{contentClass}}>
  {{#if this.contentDisabled}}
    {{#if this.language.content_tag_conflict}}
      {{#link-to "tag.show" language.locale}}
        {{d-icon "warning"}}
        <span>{{i18n "multilingual.languages.content_tag_conflict" tagName=language.locale}}</span>
      {{/link-to}}
    {{else}}
      {{i18n "multilingual.languages.disabled"}}
    {{/if}}
  {{else}}
    <Input @type="checkbox" @checked={{this.language.content_enabled}}/>
  {{/if}}
</td>

<td class={{interfaceClass}}>
  {{#if interfaceDisabled}}
    {{i18n "multilingual.languages.disabled"}}
  {{else}}
    {{#if this.language.interface_supported}}
      <Input @type="checkbox" @checked={{this.language.interface_enabled}} @disabled={{this.interfaceToggleDisabled}}/>
    {{else}}
      <i>{{i18n "multilingual.languages.interface_not_supported"}}</i>
    {{/if}}
  {{/if}}
</td>

<td class={{actionsClass}}>
  {{#if actionsDisabled}}
    {{i18n "multilingual.languages.disabled"}}
  {{else}}
    <DButton @action=(action "remove") @disabled={{this.removing}}>
      {{#if this.removing}}
        {{loading-spinner size="small"}}
      {{else}}
        {{d-icon "times"}}
      {{/if}}
    </DButton>
  {{/if}}
</td>
