<section class="field">
  {{#unless this.category.isUncategorizedCategory}}
    <section class="field-item category-name">
      <label>{{i18n "category.name"}}</label>{{#if this.category.name_translations}}<span>{{d-icon "translate"}}</span>{{/if}}
      <TextField @value={{this.category.name}} @placeholderKey="category.name_placeholder" @maxlength="50"/>
    </section>
  {{/unless}}
  <section class="field-item">
    <label>{{i18n "category.slug"}}</label>
    <TextField @value={{this.category.slug}} @placeholderKey="category.slug_placeholder" @maxlength="255"/>
  </section>
</section>
