<div class="tag-group-content">
  <h1>{{model.name}}</h1>
  <br>

  <section class="group-tags-list">
    <ul>
      {{#each buffered.tag_names as |name|}}
        <li>
          <span>{{name}}</span>
          <span>({{discourse-tag name contentLanguageTag=true}})</span>
        </li>
      {{/each}}
    </ul>
  </section>

  {{d-button
    class="btn-danger"
    action=(action "destroy")
    disabled=changingContentTags
    icon="far-trash-alt"
    label="tagging.groups.delete"}}

  <div class="content-tag-controls">
    {{#if changingContentTags}}
      {{loading-spinner size="small"}}
      <span>{{changingContentTags}}</span>
    {{/if}}

    {{d-button
      class="btn-default"
      action=(action "updateContentTags")
      disabled=changingContentTags
      label="tagging.groups.content_tags.update.btn"}}

    {{d-button
      class="btn-danger"
      action=(action "destroyContentTags")
      icon="far-trash-alt"
      disabled=changingContentTags
      label="tagging.groups.content_tags.delete.btn"}}
  </div>
</div>
