<div class="tag-group-content">
  <h1>{{model.name}}</h1>
  <br>

  <section class="group-tags-list">
    <ul>
      {{#each buffered.tag_names as |name|}}
        <li>
          <span>{{name}}</span>
          <span>({{discourse-tag name contentLanguageTag=true}})</span>
        </li>
      {{/each}}
    </ul>
  </section>

  <DButton
    @class="btn-danger"
    @action=(action "destroy")
    @disabled={{this.changingContentTags}}
    @icon="far-trash-alt"
    @label="tagging.groups.delete"/>

  <div class="content-tag-controls">
    {{#if changingContentTags}}
      {{loading-spinner size="small"}}
      <span>{{changingContentTags}}</span>
    {{/if}}

    <DButton
      @class="btn-default"
      @action=(action "updateContentTags")
      @disabled={{this.changingContentTags}}
      @label="tagging.groups.content_tags.update.btn"/>

    <DButton
      @class="btn-danger"
      @action=(action "destroyContentTags")
      @icon="far-trash-alt"
      @disabled={{this.changingContentTags}}
      @label="tagging.groups.content_tags.delete.btn"/>
  </div>
</div>

