{{#each this.visibleLanguages as |l|}}<div
    class="{{l.class}} ls-language"
    {{on "change" l.locale}}
    role="button"
  >{{l.name}}</div>{{/each}}

{{#if this.showHiddenToggle}}
  <DButton
    @icon="plus"
    @action={{action "toggleHidden"}}
    @class="toggle-hidden"
  />

  {{#if this.showHidden}}
    <div class="hidden-languages">
      <ul>
        {{#each this.hiddenLanguages as |l|}}<li><div
              class="ls-language"
              {{on "change" l.locale}}
              role="button"
            >{{l.name}}</div></li>{{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}}