{{#if this.message}}
  <span>{{this.message}}</span>
{{/if}}

{{#if this.uploading}}
  {{loading-spinner size="small"}}
  <span>{{i18n "uploading"}}</span>
{{/if}}

<label class="btn btn-default {{if this.addDisabled 'disabled'}}">
  {{d-icon "upload"}}
  {{i18n "upload"}}
  <Input
    class="hidden-upload-field"
    disabled={{this.addDisabled}}
    @type="file"
    accept="text/x-yaml"
  />
</label>