{{#if message}}
  <span>{{message}}</span>
{{/if}}

{{#if uploading}}
  {{loading-spinner size="small"}}
  <span>{{i18n 'uploading'}}</span>
{{/if}}

<label class="btn btn-default {{if addDisabled 'disabled'}}">
  {{d-icon "upload"}}
  {{i18n 'upload'}}
  <input class="hidden-upload-field" disabled={{addDisabled}} type="file" accept="text/x-yaml" />
</label>