<span class="header-contents">{{columnIcon}}{{title}}{{chevronIcon}}</span>
{{#if showToggle}}<span class="toggle-all">(<span>{{i18n 'multilingual.languages.toggle_all'}}</span>{{input type="checkbox" checked=toggleAll}})</span>{{/if}}